$baseFontFamily: Cabin;
@import url(http://fonts.googleapis.com/css?family=Cabin);

$navbar-default-bg: white;
$navbar-default-border: white;

@import 'bootstrap';

body {padding-top: 70px;}
.footer{
    margin-top: 50px;
    color: $gray;
    a{
        color: $gray-light;
    }
}